@using PagedList.Mvc
@using VideoClub.Data.Entities
@model VideoClub.Web.Models.FilmsBindModel
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css"/>

@{
    ViewBag.Title = "Films";
}

<h2>Films</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<div class="panel-default">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <p>
            Find by name: @Html.TextBox("SearchString")
            <input type="submit" value="Search"/>
        </p>

        <p>
            @Html.DropDownList("Genre",
                EnumHelper.GetSelectList(typeof(Genre)),
                "Filter by Genre",
                new
                {
                    @class = "form-control",
                    onchange = "this.form.submit()"
                })
        </p>
    }

    <table class="table">
        <tr>
            <th>Title</th>
            <th>Available Copies</th>
            <th>Actions</th>
        </tr>

        @foreach (var item in Model.Films)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Copies.FindAll(c => c.Available).Count</td>

                <td>
                    <div>
                        @if (item.Copies.FindAll(c => c.Available).Count != 0)
                        {
                            @Html.ActionLink("Rent", "Rent", new { id = item.Id })
                            @:|
                        }
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                    </div>
                </td>
            </tr>
        }
    </table>

    <br/>
    Page @(Model.Films.PageCount < Model.Films.PageNumber ? 0 : Model.Films.PageNumber) of @Model.Films.PageCount

    @Html.PagedListPager(Model.Films, page => Url.Action("Index",
        new { page }))
</div>